<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <link href='/assets/fullcalendar/main.css' rel='stylesheet'>
  <script src='/assets/fullcalendar/main.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
  
      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
        },
        locale: 'ja',
        initialDate: '2022-10-01',
        navLinks: false, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: false,
        selectable: false,
        events: [
          <% @tasks.each do |task| %>
            {
              title: '<%= task.title %> / 1日の分量：<%= task.splited_task %>',
              start: '<%= task.date_start %>',
              end: '<%= task.date_end %>',
              <% if task.color == 1 %>
                color: '#f970e0'
              <% elsif task.color == 2 %>
                color: '#f7a348'
              <% elsif task.color == 3 %>
                color: '#ddd937'
              <% elsif task.color == 4 %>
                color: '#73f973'
              <% else %>
                color: '#47cbea'
              <% end %>
            },
          <% end %>
        ]
      });
  
      calendar.render();
    });
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/assets/css/style.css" rel="stylesheet">
  <title>今日はこれだけ！</title>
</head>

<!--ヘッダー部-->
<header class="header">
  <ul class="nav">
    <li class="nav-content"><%= current_user.name %></li>
    <li class="nav-content"><a href="/signout">ログアウト</a></li>
  </ul>
</header>

<body>
  <main>
    <!--ここにカレンダー作る-->
    <div class="calendar">
        <div id="calendar"></div>
    </div>
      
    <!--ここに一覧表示作る-->
    <div class="tables">
      
      <div class="tasks-title">
        <h3 class="tasks-title-text"><%= Date.today.strftime("%Y年 %m月 %d日") %>のタスク</h3>
        <div class="line"></div>
      </div>
      
      <div class="table-all">
        <div class="table-head">
          <p class="table-head-title">タイトル</p>
          <p class="table-head-weight">1日の分量</p>
        </div>
        <div class="table-content-all">
          <% @tasks.each do |task| %>
            <% if (task.date_start..task.date_end).include? Date.today %>
              <div class="table-content"
                    style="
                          <% if task.color == 1 %>
                            border-color: #f970e0;
                          <% elsif task.color == 2 %>
                            border-color: #f7a348;
                          <% elsif task.color == 3 %>
                            border-color: #ddd937;
                          <% elsif task.color == 4 %>
                            border-color: #73f973;
                          <% else %>
                            border-color: #47cbea;
                          <% end %>">
                <p class="table-content-title"><%=CGI.escapeHTML(task.title).to_s %></p>
                <p class="table-content-weight"><%= task.splited_task %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
  
  <!--新規作成ボタン-->
  <div class="new-button">
    <a href="/tasks/new"><i class="fa-solid fa-circle-plus"></i></a>
  </div>
    
    <!--新規タスク登録のモーダル表示（できたら）-->
</body>
</html>